body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.middle {
  margin-left: -10px;
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  font-family: "Oswald", sans-serif;
}

.table1 {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

.cont {
  display: flex;
}

.enable {
  /* color: green; */
  margin: 10px;
  padding: 1px 10px 10px 10px;
  /* border: 2px solid black;
  border-radius: 10px; */
  list-style-image: url(img/SignedInVq.png);
}

.disabled {
  /* color: red; */
  margin: 10px;
  padding: 1px 10px 10px 10px;
  /* border: 2px solid black;
  border-radius: 10px; */
  list-style-image: url(img/SignedoutVq.png);
}

li:hover {
  padding: 0px 9px 9px 9px;
  border: 1px solid blue;
  background-color: rgba(179, 188, 255, 0.329);
  cursor: pointer;
  border-radius: 10px;
}

ul {
  font-size: 20px;
  height: 20px;
}

.tr1 {
  background-color: rgb(241, 241, 241);
  margin: -10px;
  margin-top: 10px;
  display: inline;
  padding-left: 20px;
  padding-top: 6px;
  padding-right: 800px;
}

.td {
  padding: 2px;
  text-decoration: none;
  color: black;
}

.td:hover {
  background-color: rgb(131, 131, 255);
}

.tr2 {
  margin: -10px;
  margin-top: 10px;

  text-decoration: none;
  padding-left: 10px;
  padding-top: 6px;
}

td {
  padding-right: 10px;
}

.gray {
  text-align: center;
  color: rgb(155, 154, 154);
}

.border {
  border-right: 1px solid black;
  padding-right: 5px;
  padding-top: 0px;
  padding-left: 2px;
}

.nob {
  padding-left: 5px;
}

#myList {
  display: inline-block;
  width: 200px;
  height: 600px;
  border-top: 1px blue solid;
  border-right: 1px blue solid;
  border-bottom: 30px rgb(0, 0, 255) solid;
  line-height: 20px;
}

img {
  position: relative;
  top: 3px;
}

.contqg {
  padding: 7px;
  position: relative;
  right: 5px;
  bottom: 47px;
  display: inline;
  background-color: white;
  color: blue;
}

.login {
  margin-top: 100px;
  margin-bottom: 50px;
  display: inline-block;
  padding: 40px 0px;
  border-bottom: 1px solid gray;

}

.microsoft {
  width: 305px;
  height: 35px;
  background-color: white;
  border-radius: 6px;
}

.btn {
  height: 40px;
  background-color: blue;
  color: white;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 2px;
  height: 35px;
  width: 305px;
}

.center {
  top: 100px;
  position: relative;

}

.text {
  margin: 5px;
  height: 30px;
  width: 290px;
  padding-left: 10px;
}

.red {
  color: red;
}

.hidden {
  display: none;
}

.forgot {
  color: black;
}